body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

.easel {
  position: relative;
  width: 240px;
  height: 330px;
  margin-top: 50px;
}

.top-clip {
  position: absolute;
  top: 0;
  width: 20%;
  height: 30px;
  background: #75450e;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 5px solid #f0efec;
  transform: translateX(-50%); /* 中心を合わせるために左に50%移動 */
}

.shelf {
  position: absolute;
  bottom: 100px;
  left: 50%; /* 親要素の中心から開始 */
  width: 250px; /* キャンバスと同じ幅 */
  height: 10px;
  background: #b69b4c;
  transform: translateX(-50%); /* 中心を合わせるために左に50%移動 */
}

.leg {
  position: absolute;
  bottom: 10px;
  width: 20px;
  height: 120px;
  background: #b69b4c;
  z-index: -1;
}

#left-leg {
  left: 50%;
  transform: translateX(-10%) rotate(15deg); /* Adjusted to match the angle from the back */
  position: absolute;
  bottom: 0;
  left: 10%; /* イーゼルの中心から開始 */
  width: 20px;
  height: 120px; /* 足の長さ */
  background: #b69b4c;
  z-index: -1;
}

#right-leg {
  left: 50%;
  transform: translateX(10%) rotate(-15deg); /* Adjusted to match the angle from the back */
  position: absolute;
  bottom: 0;
  left: 90%; /* イーゼルの中心から開始 */
  width: 20px;
  height: 120px; /* 足の長さ */
  background: #b69b4c;
  z-index: -1;
}

#back-leg {
  position: absolute;
  bottom: 0;
  left: 50%; /* イーゼルの中心から開始 */
  width: 20px;
  height: 120px; /* 足の長さ */
  background: #b69b4c;
  z-index: -1;
}
