body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

.easel {
  position: relative;
  width: 360px; /* 240pxの1.5倍 */
  height: 495px; /* 330pxの1.5倍 */
  margin-top: 50px;
}

.top-clip {
  position: absolute;
  top: 0;
  width: 30%; /* 20%の1.5倍 */
  height: 45px; /* 30pxの1.5倍 */
  background: #b69b4c;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.canvas {
  position: relative;
  top: 150px; /* 22.5pxの1.5倍 */
  left: 50%;
  width: 300px; /* 200pxの1.5 */
  height: 75px; /* 300pxの1/4 */
  background: #fff;

  transform: translateX(-50%);
  padding:0px;
  margin:0px;
}

.countdown {
  position: absolute;
  top: 50%;   /* 親要素の中央に配置 */
  left: 50%;  /* 親要素の中央に配置 */
  transform: translate(-50%, -50%); /* 中央寄せのために自身のサイズの半分をオフセット */
  /* その他のスタイリング、例えばテキストサイズ、色など */
}

.shelf {
  position: absolute;
  bottom: 150px; /* 100pxの1.5倍 */
  left: 50%;
  width: 375px; /* 250pxの1.5倍 */
  height: 20px; /* 10pxの1.5倍 */
  background: #b69b4c;
  transform: translateX(-50%);
}

.leg {
  position: absolute;
  bottom: 15px; /* 10pxの1.5倍 */
  width: 30px; /* 20pxの1.5倍 */
  height: 180px; /* 120pxの1.5倍 */
  background: #b69b4c;
  z-index: -1;
}

#left-leg {
  left: 50%;
  transform: translateX(-15%) rotate(15deg);
  position: absolute;
  bottom: 0;
  left: 15%; /* 10%の1.5倍 */
  width: 30px; /* 20pxの1.5倍 */
  height: 600px; /* 120pxの1.5倍 */
  background: #b69b4c;
  z-index: -1;
}

#right-leg {
  left: 50%;
  transform: translateX(15%) rotate(-15deg);
  position: absolute;
  bottom: 0;
  left: 75%; /* 90%の1.5倍 */
  width: 30px; /* 20pxの1.5倍 */
  height: 600px; /* 120pxの1.5倍 */
  background: #b69b4c;
  z-index: -1;
}

#back-leg {
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 30px; /* 20pxの1.5倍 */
  height: 180px; /* 120pxの1.5倍 */
  background: #b69b4c;
  z-index: -1;
}
